* {
	font-family:  sans-serif, sans, arial, verdana;
}
body, html {
	margin: 0px;
	padding: 0px;
}
body {
	/*background: #CEE9F4 url(side_top.jpg) repeat-x;
	background: #EFF4CC url(side_topg.jpg) repeat-x;*/
	background: #FAFAFA url(bg.png) 0px 34px repeat-x;
}

.striked {
	text-decoration: line-through;
}

.alert {
	background-color: #FE0;
	color: #000;
	padding: 10px;
	font-weight: bold;
}
/*#header {
	position: relative;
	width: 800px;
	height: 34px;
	margin: 0 auto;
}*/
#header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 34px;
	margin: 0 auto;
	background: #CEE9F4 url(side_top.jpg) repeat-x;
	/*z-index: 210474;*/
}
	#header div {
		position: relative;
		width: 800px;
		height: 34px;
		margin: 0 auto;
	}
		#header h1 {
			margin: 0px;
			height: 34px;
			padding-left: 50px;
			font-weight: normal;
			font-size: 1.3em;
			line-height: 1.5em;
			color: #fff;
			background: url(logo.gif) 10px 3px no-repeat;
			cursor: hand;
			cursor: pointer;
		}
		#header ul#menu {
			position: absolute;
			list-style: none;
			top: 10px;
			right: 50px;
			margin: 0px;
			padding: 0px;
			text-align: right:
		}
			#header ul#menu li {
				display: inline;
				margin: 0px;
				padding: 0px;
			}
			#header ul#menu li a {
				font-size: .9em;
				padding-left: 10px;
				color: #fff;
				text-decoration: none;
			}
			#header ul#menu li a:hover {
				color: #eee;
			}

#page {
	width: 700px;
	margin: 0 auto;
	padding: 60px 50px 50px 50px;
	background-color: #fff;
}
#page h2 {
	font-weight: normal;
	color: #000;
	font-size: 1.2em;
	border-bottom: 1px solid #aaa;
	clear:both;
	padding-top: 60px;
}
#page h3 {
	font-size: .9em;
	color: #444;
	clear:both;
	margin-top: 44px;
}
#page p {
	font-size: .8em;
	line-height: 1.4em;
}
#page a {
	text-decoration: underline;
	color: blue;
	cursor: hand;
	cursor: pointer;
}
#page p img {
	margin-left: 20px;
}

#page ul {
	list-style: square;
}
	#page ul lh {
		font-weight: bold;
	}
	#page ul li {
		font-size: .8em;
	}
	#page ul li li {
		font-size: 1em;
	}

#page table {
	border: 1px solid #CCC;/*#9BE62B;#90BBDB;#CFD4E6;*/
	background-color: #FAFAFA;
}
	#page table table { background-color: transparent; }
	#page table th, #page table td {
		padding: 2px 5px 2px 5px;
	}
	#page table th {
		color: #000;/*#fff;*/
		text-align: left;
		border-bottom: 2px solid #DDD;/*#9BE62B;#90BBDB;#aaa;*/
		background-color: #EEE;/*#B8ED67;#CEE9F4;#90BBDB;#727EA3;*/
	}
	#page table th, #page table td {
		font-size: .7em;
		padding-right: 20px;
		vertical-align: top;
	}
	#page table th th, #page table td td {
		font-size: 1em;
	}
	#page table tr.odd {
		background-color: #F4F4F4;/*#E6F1F4;#E6F1F4;E0E3EE;*/
	}
#page pre {
	font-size: .9em;
	font-family: monospace;
	background-color: #FFD;
	border: 1px solid #CC8;
	padding: 10px 15px 10px 15px;
}
#page .property {
	color:#A11;
	font-weight: bold;
}
#footer {
	width: 100%;
	background: #242424 url(content_black.jpg) center center repeat-y;
	border-top: 1px solid #242424;
}
	#footer div {
		margin: 0 auto;
		padding: 5px 50px 5px 50px;
		width: 700px;
		font-size: .7em;
		color: #fff;
	}
	#footer div a {
		color: #fff;
	}

#inhere {
	background-color: #F0F0F0;
	width: 100%;
	height: 400px;
}