@import 'mixins';
@import '../vendor/bootstrap/less/variables';

@padding: 50px;
@navHeight: 40px;
@footerHeight: 24px;
@leftColWidth: 20%;
@rightColWidth: 100% - @leftColWidth - 10%;

@colorFooter: #444;

html {
	font-size: 62.5%;
}

.gradBlack(@lighten:0%) {
	.gradientVertical(lighten(#525252,@lighten),lighten(#2f3130,@lighten));
}
/*
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*/

html, body {
	height: 100%;
	background-color: #fafafa;
	line-height: 160%;
}
body {
	height: auto;
	padding-top: 7rem;
	@introHeight: 10px;
	.gradientVerticalThree(#888888,#e5e5e5,#fafafa,0,@navHeight+@introHeight,@navHeight+@introHeight+150px);
	background-repeat: repeat-x;
}
body>div {
	min-height: 100%;
	padding-bottom: @footerHeight;
	margin-bottom: -@footerHeight;
}

h1, h2, h3, h4, h5, h6 {
	margin: 6rem 0 1.5rem;
	font-family: Arial, sans;
	line-height: 120%;
	font-weight: bold;
}
h4, h5, h6 { margin: 2rem 0 .5rem; }
h1 { font-size: 18px; }
h2 { font-size: 17px; }
h3 { font-size: 16px; }
h4 { font-size: 13px; }

ul, ol {
	.spacing();
	list-style: none;
}

// navigation
.navbar {
	.gradBlack();
	.navbar-header button {
		.rt;
	}
	.dropdown.open > a {
		.gradientVertical(#2f3130, #525252);
	}
	&.navbar-inverse {
		.navbar-brand {
			color: white;
			font-size: 21px;
			line-height: 21px;
		}
	}
}

// reveal
label.reveal {
	margin: 0;
	padding: 0;
	display: inline;
	font-weight: inherit;
}
input.reveal {
	display: none;
	&+*{ display: none; }
	&:checked+* {
		display: block;
		visibility: visible;
		overflow: visible;
		height: auto;
	}
}
@media (min-width: @screen-sm-min) {
	input.reveal+#navbar {
		display: block;
	}
}

// content
article {
	padding-bottom: 2rem;
}
.firstparagraph {
	.gradientVertical(#f2f7e2,#d3e795);
	h1 { display: none; }
}

article {
	dt,dd { .spacing(); }
	.dl-methods>dd { margin-bottom: 40px; }
	dl dl, .dl-namespaces {
		margin: 5px 0 5px;
		dt {
			display: inline-block;
			width: @leftColWidth;
		}
		dd {
			display: inline-block;
			width: @rightColWidth;
		}
	}
	h5 { width: @leftColWidth; }
	h5, .param-desc, .param-type {
		display: inline-block;
	}
	.type-signature {
		&:first-child {
			.lt(-20.5,.4);
			.dim(20,1.2);
			font-size: 12px;
			line-height: 100%;
			font-weight: normal;
			text-align: right;
			white-space: nowrap;
			text-shadow: none;
		}
		color: #888;
		text-shadow: 1px 1px 0 fade(white,50%);
	}
	.signature {
		padding-left: 4px;
		color: #666;
		text-shadow: 1px 1px 0 fade(white,50%);
	}
}

// examples
menu[type=toolbar] {
	padding-left: 0;
	margin: 0.5rem 0;
	a, command {
		font-weight: bold;
		cursor: pointer;
	}
}
.example {
	padding: 1px;
	margin-bottom: 1rem;
	background-color: #EEE;
	ul {
		list-style: disc;
		padding-left: 2rem;
		margin: 1rem;
	}
	.striked {
		text-decoration: line-through;
	}
}

// rainbow
@import 'rainbow';

// tables
table.params, table.props, table.returns {
	border: 1px solid #CCC;
	background-color: #FAFAFA;
	border-spacing: 0;
	thead {
	}
	table {
		width: 100%;
		background-color: transparent;
		border: 1px solid #DDD;
	}
	tr:nth-child(odd) {
		background-color: #F0F0F0;
	}
	tr:nth-child(even) {
		background-color: #FAFAFA;
	}
	th, td {
		padding: 2px 20px 2px 5px;
		vertical-align: top;
		&, * { font: 12px/18px Arial, sans; }
		* { .spacing(); }
		th, td {
			font-size: 1em;
		}
	}
	th {
		color: #000;
		text-align: left;
		border-bottom: 2px solid #DDD;
		.gradientVertical(#EEE,#DDD);
	}
	h5 {
		font-weight: bold;
	}
	tbody td:first-child {
		color: #A11;
		font-weight: bold;
	}
	tfoot {
		th, td {
			background-color: #DDD;
		}
	}
	code {
		font-weight: bold;
		background-color: transparent;
		border: 0;
	}
}

// definition lists
.details {
	dt {
		display: inline-block;
		width: @leftColWidth;
	}
	dd {
		display: inline-block;
		width: @rightColWidth;
	}
}
.dl-methods {
	.details {
		font-size: .6rem;
		line-height: 100%;
		color: #999;
		dt, dd {
			display: inline-block;
			width: auto;
			font-weight: normal;
		}
	}
}
dl.options {
	padding: 2rem 0;
	dt {
		position: relative;
		&:before {
			content: '';
			display: block;
			.lt(0,-1rem);
			width: 100%;
			height: 1rem;
			background-color: white;
		}
	}
	dt, dd { padding-bottom: 1rem; }
	dd { margin-bottom: 1rem; }
	dt small {
		display: block;
		font-weight: normal;
		&.option-type {
			&:before { content: '<'; }
			&:after { content: '>'; }
		}
	}
	p { margin: 0 0 2rem; }
}

// footer

#colophon {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	height: @footerHeight;
	background: @colorFooter;
	font: 11px / @footerHeight Arial, sans;
	text-align: center;
	white-space: nowrap;
	color: #999	;
	.copyright:before {
		content: '© ';
	}
	&:before {
		content: '';
		.dim(100%,100%);
		.lt(-100%,0);
		background: @colorFooter;
	}
	&:after {
		content: '';
		.dim(100%,100%);
		.lt(100%,0);
		background: @colorFooter;
	}
}